<!DOCTYPE html>
<html>

<head>
  <title>Owensfield Community Group</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/s3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    #myDialog {
      padding: 20px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .btnstyle {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #closeDialog {
      padding: 10px 20px;
      background-color: #DC3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .full-screen-section {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    html,
    body,
    h1,
    h2,
    h3,
    h4 {
      font-family: "Lato", sans-serif
    }

    .mySlides {
      display: none
    }

    .w3-tag,
    .fa {
      cursor: pointer
    }

    .w3-tag {
      height: 15px;
      width: 15px;
      padding: 0;
      margin-top: 6px
    }

    .container {
      display: flex;
      align-items: center;
      padding-top: 45px;
    }

    .container img {
      order: 1;
      margin-right: 10px;
      /* Optional: Add some space between the image and text */
    }

    .container p {
      order: 2;
    }

    @media (max-width: 600px) {
      .hide-on-mobile {
        display: none;
      }
    }

    /* Default font size */
    .responsive-text {
      font-size: 30px;
      /* Adjust as needed */
    }

    /* Smaller font size for screens smaller than 600px */
    @media (max-width: 600px) {
      .responsive-text {
        font-size: 20px;
        /* Adjust as needed */
      }
    }

    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

    .polls-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* Two columns */
      gap: 20px;
      /* Space between the grid items */
    }

    .poll {
      border: 1px solid #ccc;
      /* Optional: Add some styling to the poll items */
      padding: 10px;
      /* Optional: Add some padding */
      background-color: #f9f9f9;
      /* Optional: Add a background color */
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>

  <!-- Links (sit on top) -->
  <div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
      <div class="w3-col s33">
        <a href="#" class="w3-button w3-block">Home</a>
      </div>
      <div class="w3-col s33">
        <a href="#polls" class="w3-button w3-block">Polls</a>
      </div>
      <div class="w3-col s33">
        <a href="#docs" class="w3-button w3-block">Docs</a>
      </div>
      <div class="w3-col s33">
        <a href="#payments" class="w3-button w3-block">Pay</a>
      </div>
      <div class="w3-col s33">
        <a href="#contact" class="w3-button w3-block">Contact</a>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    <div class="w3-panel">

      <h1 style="font-size: 25px; display: flex; align-items: center;">
        <img src="./images/logo.png" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px;">
        <b class="responsive-text">Owensfield Community Group</b>
      </h1>
      <p>The community group for managing and maintaining Owensfield</p>
    </div>

    <!-- Slideshow -->
    <div class="w3-container full-screen-section">
      <div class="w3-display-container mySlides">
        <img src="./images/1.jpg" style="width:100%">
        <div class="w3-display-topleft w3-container w3-padding-32">
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="./images/4.jpg" style="width:100%">
        <div class="w3-display-topright w3-container w3-padding-32">
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="./images/2.jpg" style="width:100%">
        <div class="w3-display-middle w3-container w3-padding-32">
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="./images/3.jpg" style="width:100%">
        <div class="w3-display-topright w3-container w3-padding-32">
        </div>
      </div>

      <!-- Slideshow next/previous buttons -->
      <div class="w3-container w3-dark-grey w3-medium">
        <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
        <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

      </div>

      <div class="container">
        <div float="left" class="hide-on-mobile"> <img src="./images/big-logo.png" style="width:200px"></div>
        <div float="right">
          <p>
            Tucked away in the serene woods of Caswell Valley, you’ll find charming, eco-friendly chalet huts that blend
            seamlessly with the natural landscape. With minimal environmental impact, its residents immerse themselves
            in nature without disturbing the delicate balance of the surrounding ecosystem.
            <br></br>
            Owensfield is part of one of the few remaining traditional Welsh hutting communities, where the rich
            heritage of simple, sustainable living is still cherished and preserved.
          </p>
        </div>
      </div>
    </div>

    <!-- Grid -->
    <div class="w3-row w3-container full-screen-section">
      <div class="w3-center w3-padding-64" id="docs">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Docs</span>
      </div>

      <center>

        <p>
          Shared community docs.<br></br>
          if you want to be added contact a member of the steering group.
        </p>

        <button class="btnstyle"
          onClick="window.open('https://drive.google.com/embeddedfolderview?id=1BOnbM5-Os0XyPbI4F8qOKhp5C6e13xPH#list', '_blank')">Open
          shared docs</button>
      </center>

    </div>


    <!-- Grid -->
    <div class="w3-container full-screen-section">
      <div class="w3-row-padding " id="polls">
        <div class="w3-center w3-padding-64">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Polls</span>

        </div>
        <p class="w3-center">Community polls for guiding decisions making.</p>

        <div id="app">
          <div v-if="showTabs">
            <div class="tab">
              <button class="tablinks" @click="openCity($event, 'Active')">Active polls</button>
              <button class="tablinks" @click="openCity($event, 'Old')">Old polls</button>
              <button class="tablinks" @click="openCity($event, 'Suggest')">Suggest a poll</button>
              <button v-if="user_details.roll == 2" class="tablinks" @click="openCity($event, 'Review')">Polls in
                review*</button>
                <button v-if="user_details.roll == 2" class="tablinks" @click="openCity($event, 'userCreate')">Create a user*</button>
                <button v-if="user_details.roll == 2" class="tablinks" @click="openCity($event, 'userDelete')">Delete a user*</button>
            </div>

            <div id="Active" class="tabcontent">
              <h3>Active Polls</h3>
              <div class="polls-container">
                <div v-for="(poll, pollIndex) in activePolls" :key="pollIndex" class="poll">
                  <p>{{ poll.title }}</p>
                  <div v-for="(choice, index) in poll.choices" :key="index">
                    <label :for="'choice' + pollIndex + '_' + index">{{ choice }}</label>
                    <input type="radio" :id="'choice' + pollIndex + '_' + index" :value="index" v-model="poll.picked" @change="submitVote(poll.id, index)"/>
                  </div>
                </div>
              </div>
            </div>

            <div id="Old" class="tabcontent">
              <h3>Old Polls</h3>
              <div class="polls-container">
                <div v-for="(poll, pollIndex) in oldPolls" :key="pollIndex" class="poll">
                  <p>{{ poll.title }}</p>
                    <label>{{ poll.choice }}</label>
                </div>
              </div>
            </div>

            <div id="Suggest" class="tabcontent">
              <h3>Suggest a poll</h3>
              <form>
                <label for="pollTitle">Poll title:</label>
                <br></br>
                <input style="min-width: 400px;" type="text" id="pollTitle" name="pollTitle">
                <br></br>
                <label for="choices">Choices: (separated by new lines)</label>
                <br></br>
                <textarea id="choices" name="choices" rows="10" cols="50"></textarea>
                <br></br>
                <button type="submit">Submit</button>
            </div>

            <div id="Review" class="tabcontent">
              <h3>Polls in review</h3>
              <div class="polls-container">
                <div v-for="(poll, pollIndex) in activePolls" :key="pollIndex" class="poll">
                  <p>{{ poll.title }}</p>
                  <div v-for="(choice, index) in poll.choices" :key="index">
                    <label :for="'choice' + pollIndex + '_' + index">{{ choice }}</label>
                  </div>
                  <label>Approve</label>
                  <input type="radio" id="poll.id" v-model="approvedPoll" @change=""/>
                </div>
              </div>
            </div>

            <div v-if="user_details.roll == 2" id="userCreate" class="tabcontent">
              <h3>Create a user</h3>
              <form>
                <label for="pollTitle">Email:</label>
                <br></br>
                <input style="min-width: 400px;" type="text" id="pollTitle" name="pollTitle">
                <br></br>
                <label for="choices">Roll:</label>
                <br></br>
                <input id="choices" name="choices" rows="10" cols="50"></input>
                <br></br>
                <button type="submit">Submit</button>
            </div>

            <div v-if="user_details.roll == 2" id="userDelete" class="tabcontent">
              <h3>Delete a user</h3>
              <form>
                <label for="pollTitle">Email:</label>
                <br></br>
                <input style="min-width: 400px;" type="text" id="pollTitle" name="pollTitle">
                <br></br>
                <label for="pollTitle">User ID:</label>
                <br></br>
                <input style="min-width: 400px;" type="text" id="pollTitle" name="pollTitle">
                <br></br>
                <button type="submit">Submit</button>
            </div>

          </div>
          <div v-if="!showTabs">
            <center> <button class="btnstyle" id="openDialog">Scan login qr</button></center>
          </div>
        </div>



        <dialog id="myDialog">
          <div style="border: 2px solid black">
            <qrcode-stream :track="paintBoundingBox" @detect="onDetect" @error="onError"></qrcode-stream>
          </div>
          <button id="closeDialog">Close</button>
        </dialog>

      </div>
    </div>



    <!-- Grid -->
    <div class="w3-container full-screen-section">
      <div class="w3-row-padding" id="payments">
        <div class="w3-center w3-padding-64">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Payments</span>

        </div>
        <p class="w3-center">Donate to Owensfield, or for members to pay their membership.</p>
        <center>
          <button class="btnstyle"
            onClick="window.open('https://pay.collctiv.com/ocg-2024-membership-fee-24808', '_blank')">Pay or
            donate</button>
        </center>

      </div>
    </div>

    <!-- Contact -->
    <div class="w3-container">
      <div class="w3-center w3-padding-64" id="contact">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact the steering group</span>
      </div>

      <form class="w3-container" action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Subject</label>
          <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
        </div>
        <div class="w3-section">
          <label>Message</label>
          <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-black">Send</button>
      </form>
      <div class="w3-container">
      </div>
      <div class="w3-padding-64">
        <span class="w3-large w3-bottombar w3-border-dark-grey w3-padding-16">Current steering group members</span>
      </div>

      <div class="w3-row-padding">
        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Sarah</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Andy (7)</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Ian</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Sarah</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>


        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Mark</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Angi</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Mike</h3>
              <p class="w3-opacity">Some text about why people might contact you.</p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">

            <div class="w3-container">
              <h3>Ben (25)</h3>
              <p class="w3-opacity">Contact Ben for Google drive or the website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <h4>Footer</h4>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="w3-hover-opacity" onClick="window.open('https://ditto.pub/@owensfield@nostr.com', '_blank')"><img
          src="./images/nostr.png"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </footer>
  <script src="./js/vue-qrcode-reader.umd.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        showTabs: false,
        activeTab: '',
        user_details: [],
        activePolls: [{
          id: "93fg34",
          title: 'What we do with the old shed?',
          choices: ['Repair it', 'Replace it', 'Remove it']
        }, {
          id: "93fg34",
          title: 'What we do with the old shed?',
          choices: ['Repair it', 'Replace it', 'Remove it']
        },{
          id: "93fg34",
          title: 'What we do with the old shed?',
          choices: ['Repair it', 'Replace it', 'Remove it']
        },{
          id: "93fg34",
          title: 'What should we do with the old shed?',
          choices: ['Repair it', 'Replace it', 'Remove it']
        }],
        oldPolls: [{
          id: "93fg34",
          title: 'What we do with the old shed?',
          choice: 'Repair it'
        }, {
          id: "93fg34",
          title: 'What we do with the old shed?',
          choice: 'Repair it'
        },{
          id: "93fg34",
          title: 'What we do with the old shed?',
          choice: 'Repair it'
        },{
          id: "93fg34",
          title: 'What should we do with the old shed?',
          choice: 'Repair it'
        }],
        suggestPolls: [],
        picked: 0,
        approvedPoll: ""
      },
      methods: {
        openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          var cityElement = document.getElementById(cityName);
          if (cityElement) {
            cityElement.style.display = "block";
            evt.currentTarget.className += " active";
          } else {
            console.error(`Element with ID ${cityName} not found.`);
          }
        },
        async submitVote(pollId, pickedChoice) {
        const voteData = {
          user_id: this.user_details.id,
          poll_id: pollId,
          vote_opt: pickedChoice
        };

        try {
          const response = await fetch('http://localhost:8000/vote', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: voteData
          });

          if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
          }

          const data = await response.json();
          console.log('Vote submitted successfully:', data);
        } catch (error) {
          console.error('There has been a problem with your fetch operation:', error);
        }
      },
        async getUser(userId) {
          self = this;
          console.log(this.backend_url);
          try {
            const response = await fetch(`http://localhost:8000/user?user_id=${userId}`, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              }
            });

            if (!response.ok) {
              throw new Error('Network response was not ok ' + response.statusText);
            }

            const data = await response.json();
            console.log(data); // Log the result to the console
            this.openCity(null, 'Active')
            self.showTabs = true;
            self.user_details = data;
            // Check if the response is positive
            if (data.positive) {

            }
          } catch (error) {
            console.error('There has been a problem with your fetch operation:', error);
          }
        },
        getIdFromUrl() {
          const urlParams = new URLSearchParams(window.location.search);
          userId = urlParams.get('id');
          if (userId) {
            this.getUser(userId);
          }
        }

      },
      mounted() {
        const backend_url = 'http://127.0.0.1:8000';
        var slideIndex = 1;
        showDivs(slideIndex);

        // Auto-scroll every 3 seconds
        setInterval(function () {
          plusDivs(1);
        }, 3000);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demodots");
          if (n > x.length) { slideIndex = 1 }
          if (n < 1) { slideIndex = x.length }
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
          }
          x[slideIndex - 1].style.display = "block";
        }
        const video = document.getElementById('qr-video');
        const resultElement = document.getElementById('qr-result');
        let scannedData = '';
        const openButton = document.getElementById('openDialog');
        const closeButton = document.getElementById('closeDialog');
        const dialog = document.getElementById('myDialog');
        openButton.addEventListener('click', () => {
          dialog.showModal();
        });
        closeButton.addEventListener('click', () => {
          dialog.close();
        });
        const userId = this.getIdFromUrl();
        this.getIdFromUrl()
      }
    });

  </script>

</body>

</html>